$primary-color: red;
$purple: purple;
$white: #ffffff;

@import "mixin";
@import "media-queries";

* {
  margin: 0;
  padding: 0;
  @include box-sizing();
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html {
  @include respond-below(xs) {
    font-size: 0.9em;
  }
}
body {
  @include box-shadow(2px 3px 10px #333333);
  background-color: rgb(81, 45, 168);
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  margin: 0.3em 0.7em;
  min-height: 94vh;
  color: $white;
}

.particles {
  position: absolute;
  display: block;
  top: 10%;
  right: 48px;
  bottom: 6%;
  // transform: translate(-50%, -50%);
  left: 5%;
  z-index: 1;
}

.btn {
  border: none;
  padding: 10px;

  a {
    text-decoration: none;
    color: $white;
  }
}

.btn-nonametogive {
  @include button-bg(red);
  @include transition(all 0.4s ease);
}

main {
  margin-bottom: 50px;
}

.content {
  margin: 0 11vw;
  @include respond-below(sm) {
    margin: 0 5vw;
  }
}

nav.navig {
  margin: 1.5em;
  padding: 15px 30px;
  height: 70px;
  @include respond-below(xs) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .title {
    float: left;

    font: {
      family: 'Lobster Two', cursive;
      weight: 600;
    }
  }

  ul {
    float: right;
    list-style-type: none;
    @include respond-below(sm) {
      display: none;
    }

    li {
      @include display(inline-flex);

      a {
        margin: 0 20px;
        text-decoration: none;
        @include transition(0.4s ease);
        color: $white;

        &:hover {
          color: #fec758ff;
        }
      }
    }
  }

  button.btn {
    display: none;
    background: transparent;
    padding: 4px;
    @include respond-below(sm) {
      display: block;
      float: right;
    }

    i.lnr {
      font-size: x-large;
      color: $white;
    }
  }

}


.side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: #333;
  z-index: 5;
  width: 70%;
  display: none;
  @include respond-between(xs, md) {
    width: 44%;
  }
  // @include respond-above(md) {
  // }
  ul {
    list-style-type: none;
    li {
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.intro {
  @include display(flex);
  margin: 54px 0px;

  @include respond-below(xs) {
    flex-direction: column;
  }

  .img-contain {
    margin: 0 auto;
    width: 35%;
    z-index: 2;

    @include respond-below(xs) {
      width: 100%;
    }


    img {
      display: block;
      border: 3px solid $white;
      border-radius: 50%;
      height: auto;
      @include box-shadow(0px 4px 8px rgba(0, 0, 0, 0.52));
    }
  }

  .short-intro {
    width: 65%;
    padding: 18px 0;
    @include respond-below(xs) {
      width: 100%;
    }
  }
}

.intro-text {
  font-family: 'Montserrat', sans-serif;

  h1 {
    margin: 0 0 12px;
  }

  p:first-child {
    font-size: 1em;
  }

  p:last-child {
    font-size: 1.2em;
  }
}

.works {
  margin-bottom: 50px;
  h1 {
    margin: 0 0 24px;
  }
}

.work-list {
  @include display(flex);
  @include justify-content();
  @include flex-wrap(wrap);

  .work {
    background-color: $white;
    padding: 18px;
    border-radius: 4px;
    margin: 0 10px 16px 0;
    color: #333 !important;
    @include flex-grow();
    @include box-shadow(3px 5px 10px #333333f7);

    p:nth-child(2) {
      font-size: x-large;
    }
  }

}

footer {
  margin: 0 11vw;
  padding: 15px;

  .social-icons {
    margin-bottom: 10px;
    a {
      margin: 0 12px;
    }
  }
}