$primary-color: red;
$purple: purple;
$white: #ffffff;

@import "mixin";
@import "media-queries";

* {
  margin: 0;
  padding: 0;
  // outline: none;
  @include box-sizing();
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html {
  @include respond-below(xs) {
    font-size: 0.8em;
  }
}
body {
  @include box-shadow(2px 3px 10px #333333);
  background-color: rgb(81, 45, 168);
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  margin: 0 0.7em 1em;
  min-height: 94vh;
  color: $white;
}

a {
  text-decoration: none;
  font-size: 18px;
}

.particles {
  position: absolute;
  display: block;
  top: -9%;
  right: 18px;
  bottom: 71%;
  left: 1%;
  @include respond-below(sm) {
    top:-5%;
  }
}

.t-center {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.btn {
  border: none;
  padding: 10px;

  a {
    color: $white;
  }
}

.link-github {
  @include button-bg(red);
  @include transition(all 0.4s ease);
  svg {
    vertical-align: text-top;
    margin-right: 4px;
  }
}

main {
  margin-bottom: 50px;
}

.container {
  position: relative;
}

.content {
  margin: 0 11vw;
  @include respond-below(sm) {
    margin: 0 5vw;
  }
}


nav.navig {
  margin: 1.5em;
  padding: 15px 30px;
  height: 70px;
  @include respond-below(xs) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .title {
    float: left;
    @include clearfloat();

    font: {
      family: 'Lobster Two', cursive;
      weight: 600;
    }
  }

  ul {
    float: right;
    list-style-type: none;

    @include respond-below(sm) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      background: #333;
      z-index: 5;
      width: 70%;
      text-align: center;
      transform: translateX(360px);
      @include transition(.5s ease-in);

      &.mobile-active {
        transform: translateX(0);
      }

      @include respond-between(xs, md) {
        width: 44%;
      }
    }

    li {
      @include display(inline-flex);

      @include respond-below(sm) {
        display: block;
        &:nth-child(2) {
          margin-top: 28px;
        }
      }

      a {
        margin: 0 20px;
        @include transition(0.4s ease);
        color: $white;

        &:hover {
          color: #fec758ff;
        }

        @include respond-below(sm) {
          display: block;
          margin: 0;
          padding: 10px;
          font-size: x-large;
        }
      }
    }
  }

  #mobile-btn {
    display: none;
    padding: 4px;
    background: transparent;
    @include respond-below(sm) {
      display: block;
      float: right;
    }

    i.lnr {
      font-size: x-large;
      color: $white;
    }
  }

}

.close-btn {
  display: none;
  @include button-bg(red);
  @include respond-below(sm) {
    color: $white;
    display: block;
    float: right;
  }
}

.intro {
  @include display(flex);
  margin: 54px 0px;
  position: relative;

  @include respond-below(xs) {
    flex-direction: column;
  }

  .img-contain {
    margin: 0 auto;
    width: 35%;
    z-index: 1;

    @include respond-below(xs) {
      width: 100%;
    }


    img {
      display: block;
      border: 3px solid $white;
      border-radius: 50%;
      height: auto;
      @include box-shadow(0px 4px 8px rgba(0, 0, 0, 0.52));
    }
  }

  .short-intro {
    width: 65%;
    padding: 18px 0;
    @include respond-below(xs) {
      width: 100%;
    }
  }
}

.intro-text {
  font-family: 'Montserrat', sans-serif;

  h1 {
    margin: 0 0 12px;
  }

  p:first-child {
    font-size: 1em;
  }

  p:last-child {
    font-size: 1.2em;
  }
}

.works,
.contact {
  h1 {
    margin: 0 0 24px;
  }
}

.works {
  margin-bottom: 50px;
}

.work-list {
  list-style-type: none;
  margin-bottom: 10px;
  @include display(flex);
  @include justify-content();
  @include flex-wrap(wrap);

  .work {
    background-color: $white;
    padding: 18px;
    border-radius: 4px;
    margin: 0 10px 16px 0;
    color: #333 !important;
    cursor: pointer;
    @include flex-grow();
    @include box-shadow(3px 5px 10px #333333f7);

    p:nth-child(2) {
      font-size: x-large;
      @include respond-below(xs) {
        font-size: large;
      }
    }
  }

}

.contact {
  p {
    font-size: 1.35em;
  }
}

footer {
  margin: 0 11vw;
  padding: 15px;
  @include respond-below(xs) {
    margin: 0;
  }

  .social-icons {
    margin-bottom: 10px;
    a {
      margin: 0 12px;
    }
  }
}